.index {
    background-color: rgb(3, 152, 102);
}

#recipes {
    font-size: 35px
}

body {
    background-color:rgb(35, 120, 120);
    color:rgb(147, 236, 147);
}

#chicken {
    font-family: "Comic Sans", Arial, Helvetica, sans-serif;
}

.lists {
    background-color: rgb(90, 25, 90);
}

/*ul, ol {
    background-color: lightblue;
}
*/

#ingredients, #steps {
    background-color: rgb(146, 105, 28);
}

.ingredient, .steps {
    color: rgb(34, 214, 34);
    font-size: 20px;
}